<div class="page-main">
  <div class="page-header">
    <h1>Welcome to Musto Smart App</h1>
  </div>
  <div class="page-animation">
    <img
      src="https://media1.giphy.com/media/gkpnGTiy8Sq08/giphy.gif?cid=ecf05e473jirga20m0a29kqe2ubzf83o6q5mg1cfqh5tirld&rid=giphy.gif&ct=g"
      alt="Smart Crow" title="Smart Crow GIF By GIPHY" width="300">
    <p>
      <a href="https://giphy.com/gifs/gkpnGTiy8Sq08" target="_blank" rel="noopener noreferrer">via
        GIPHY</a>
    </p>
  </div>

  <div class="page-actions">
    <button mat-raised-button (click)="onOpenUserLoginDialog()" style="margin-left: 10px;"
      color="default">Login</button>
    <button mat-raised-button (click)="onOpenUserRegistrationDialog()" style="margin-left: 10px;" color="default">Sign
      Up</button>
    <br>
    <button mat-raised-button (click)="onOpenLinearRegression()" style="margin-left: 10px;" color="default">Linear
      Regression</button>
      <button mat-raised-button (click)="onOpenMnistHandwriting()" style="margin-left: 10px;" color="default">MNIST Handwriting</button>
  </div>
</div>