$break-point__xs: 576px;

.page {
  &-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 95%;
    margin: 0 auto;
  }

  &-header {
    padding: 1rem;
    margin: 2rem 0;
    text-align: center;
    border-radius: 0.375rem;
    box-shadow: 1px 1px 15px #00000030;
  }

  &-animation {
    padding: 1rem;
    text-align: center;
    border-radius: 0.375rem;

    img {
      border-radius: 0.375rem;
    }

    @media all and (max-width: $break-point__xs) {
      img {
        display: block;
        margin: 0 auto;
        width: 80%;
      }
    }
  }

  &-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    button {
      margin: 0 0.5rem;
    }
  }
}
